<strong>Recuperar password</strong>

<p>A recuperação da password foi realizada para o e-mail ({{ email }})</p>
<p>Se não foi o autor da requesição, por favor, <strong>IGNORE</strong> </p>

<p>Para continuar a recuperação, utilize o token ( {{ token }} ) ou clique no link abaixo:</p>

<a href="{{ link }}">Mudar password</a>
